.btn {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(63, 110, 238, 0.19);
  /* border: 3px solid red; */
  background-color: rgb(13, 26, 35);
  color: white;
  margin: 20px;
}

.btn2 {
  display: flex;
  justify-content: center;
}

.upload {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(63, 110, 238, 0.19);
  margin: 20px;
  padding: 15px;
  background-color: rgb(13, 26, 35);
  color: white;
}

.head {
  margin: 20px;
}

.form {
  display: flex;
  justify-content: center;
}
